<div class="p-4">
  <form [formGroup]="form">
    <div class="flex flex-col w-full">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput placeholder="Placeholder" class="w-full">
        <mat-icon matSuffix>face</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Placeholder" class="w-full" type="password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <button class="mt-1" mat-flat-button [disabled]="form.invalid || loginLoading()" (click)="login()">
        <div style="position: relative; height: 32px; width: 80px;">
          <ng-container *ngIf="loginLoading(); else notLoading">
            <div @fadeAnimation style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;
                                       display: flex; align-items: center; justify-content: center;">
              <mat-spinner diameter="20"></mat-spinner>
            </div>
          </ng-container>

          <ng-template #notLoading>
            <ng-container *ngIf="loginSuccess(); else checkError">
              <div @fadeAnimation style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;
                                         display: flex; align-items: center; justify-content: center;">
                <mat-icon>check</mat-icon>
              </div>
            </ng-container>

            <ng-template #checkError>
              <ng-container *ngIf="loginError(); else showLoginText">
                <div @fadeAnimation style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;
                                           display: flex; align-items: center; justify-content: center;">
                  <mat-icon>error</mat-icon>
                </div>
              </ng-container>

              <ng-template #showLoginText>
                <div @fadeAnimation style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;
                                           display: flex; align-items: center; justify-content: center;">
                  Login
                </div>
              </ng-template>
            </ng-template>
          </ng-template>
        </div>
      </button>
      <button type="button" mat-button class="mt-2" [routerLink]="['/register']">
        Register
      </button>
    </div>
 </form>
</div>

